<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{{ url_for('take_attendence') }}" method="POST">
    <button type="submit">Start attendence</button>
  </form>
  <form action="{{url_for('add')}}" method = "POST">
   <button type = "submit"> add new student</button>
  </form>
  <form action="{{url_for('information')}}" method="post">
    <button type = "submit">information</button>
  </form>
  <form action="{{url_for('login')}}" method = "post">
    <button type="submit">log out</button>
  </form>
</body>
</html>