<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('students_information')}}" method="POST">
        <input type="text" name = "roll_no" placeholder="Enter roll number of  student" class="textbox" id="roll_no"></br></br>
        <input type="submit" value = "submit">
    </form>
    <form action="{{url_for('students_information')}}" method="POST">
        <input type="date" name = "date" placeholder="enter date " class = "textbox" id = "date" f><br><br>
        <input type="submit" value="submit">
    </form>
    <form action = "/">
        <button type = "submit">exit</button>
    </form>
</body>
</html>